body {
    margin: auto;
}
.main-container {
    width:100vw;
    height:100vh;
}
.background-img {
    width: 100vw;
    height: 100vh;
}
h1{
    width: 100%;
    margin-top: 10%;
    position: absolute;
    font-size:8vw;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family:'Truculenta', sans-serif;
    letter-spacing:5px;
}
#clock {
    width: 100%;
    position: absolute;
    font-size: 9vw;
    color: white;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    margin-top: 25%;
}
